/* styling for result page */

button.another-quiz {
  background: rgba(176, 175, 175, 0.6);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  box-shadow: 0.1rem 0.1rem 0.2rem black;
  margin: auto;
}

button.another-quiz a {
  color: rgb(255, 254, 254);
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

/* carousel styling */
.container-slider {
  width: 80vw;
  height: 35vh;
  /* background: rgb(189, 94, 47); */
  border-radius: 2rem;
  display: flex;
  margin: 1rem;
}


.card-result {
  width: 100%;
  box-sizing: border-box;
  /* background: blue; */
  font-size: 3vw;
  height: 100%;
}

div.container-result {
  margin-top: 2rem;
  width:100%;
  max-width: 500px;
  height: 60%;
  max-height: 500px;
  /* background: teal; */
  position: relative;
  display: flex;
  align-items: center;
}

p.card-header {
  margin: 0;
  border-style: none none solid none;
  border-width: 0.2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  width: 70%;
  padding: 1rem;
  border: 0.1rem solid rgb(154, 149, 149);
  border-radius: 2rem; 
  background: rgb(236, 232, 230);
  box-shadow: 1px 1px 5px black;
}

.active {
  opacity: 1;
}

.btn-slide {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.995);
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(34, 34, 34, 0.287);
  cursor: pointer;
  height: 2%;
}

.slider-prev {
  left: 0%;
  top: 80%;
}

.slider-next {
  right: 0%;
  top: 80%;
} 